@model IEnumerable<Project.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="NewDept" asp-controller="Department">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MangerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MangerName)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", "Department",new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Detail","Department", new { id = item.Id }, null)  |
                    @Html.ActionLink("Delete", "Delete","Department", new { id = item.Id }, null)
            </td>
        </tr>
}
    </tbody>
</table>
